
html
head
title= title
link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')

header
nav
ul
li
a(href="/") Home
li
a(href="/about") About
li
a(href="/contact") Contact
section#wrapper!= body
footer
section.css-table
section.four-column
section.cell
p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
section.cell
p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
section.cell
p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
section.cell
p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet



